.review-card-container {
    margin: 40px;
    display: flex;
    width: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-top {
    text-align: left;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.reviewer-yelp-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.reviewer-google-photo {
    height: 100px;
    width: 100px;
}

.yelp-rating,
.google-rating {
    height: fit-content;
    width: fit-content;
    margin: 0;
}

@media screen and (max-width: 900px) {

}