.title {
    font-size: 40px;
}

.common-services-container {
    margin: 25px 0;
}

.about-us-container {
    margin: 25px 0;
}

.store-hours {
    display: flex;
    justify-content: center;
    margin: 25px 25px 0 25px;
}

.store-hours-text {
    align-self: center;
}