.title {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Sansita', sans-serif;
    margin-top: 15px;
    color: #000000
}

.welcome-text {
    font-size: 80px;
    font-family: 'Squada One', cursive;
    margin: 10px;
    color: #b50717;
}

.header-desc {
    margin-bottom: 8px;
}

.common-services-container {
    margin: 25px 0;
}

.common-services-cards,
.services-cards {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

.click-here-link {
    color: #cf291d;
    font-size: 25px;
    font-weight: bold;
    text-decoration-line: underline;
}

a.click-here-link:hover {
    color: #b50717;
    text-decoration: none;
}
    
.about-us-container {
    margin: 25px 0;
}

.type-of-cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-us-card {
    flex-direction: row;
    margin: 0 10px;
}

.store-hours {
    display: flex;
    justify-content: center;
    margin: 15px 25px 5px 25px;
}

.store-hours-text {
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    margin-right: 5px;
}

.store-phone-text{
    font-size: 22px;
    font-weight: bold;
}

a:link {
    color: #000000;
}

.break {
    flex-basis: 100%;
    height: 10px;
}

.indy-car-logos {
    height: 200px;
    width: 250px;
}

.car-logos {
    height: 65%;
    width: 65%;
}

.services-header {
    font-weight: bold;
}

.card-text {
    list-style-type: '-  ';
}

@media screen and (max-width: 900px) {
    .about-us-card {
        flex-wrap: wrap;
        justify-content: center;
    }

    .car-logos {
        height: 90%;
        width: 90%;
    }

    .welcome-text {
        font-size: 30px;
        font-family: 'Squada One', cursive;
        margin: 10px;
        color: #b50717;
    }

    .click-here-link {
        font-size: 20px;
    }

    .indy-car-logos {
        height: 30%;
        width: 30%;
    }

    .store-hours-text {
        font-size: 19px;
    }

    .store-phone-text {
        font-size: 20px;
    }

}