.header-container {
    display: flex;
    margin: 0;
}

.bca-logo {
    width: 200px;
}

.header-desc {
    padding-top: 1rem;
}

.ase-logo {
    width: 150px;
    align-self: center;
}

.bold {
    font-weight: bold;
}