.navlink {
    /* color: #b30d02; */
    color: #4F4F4F !important;
    /* font-weight: bold; */
    font-size: 15px;
    font-family: 'Archivo Black';
}

.navlink:hover {
    filter: drop-shadow(0 3px 8px #a8a8a8);
}

@media screen and (max-width: 991px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url("../../../public/hamburger.png") !important;
    }

    .navbar-toggler {
        border: 1px solid rgba(159, 159, 159, 0.498) !important;
    }

}