.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.Footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0%;
  background-color: #bfbfbf;
  width: 100%;
  height: 2.5rem;
}

@media screen and (min-width: 480px) {
  .footer {
    background-color: #bfbfbf;
  }
}